/***************************************************************
    CSS Animations
***************************************************************/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

// Animate broadcast icon
.blink {
	animation: fadeIn 1s infinite alternate;
	width: 0.75rem;
	height: 0.75rem;

	@include media-breakpoint-up(md) {
		width: 1rem;
		height: 1rem;
	}
}

// Navbar - rotate icon on show/hide
.dropdown .active {
	transform: rotate(0deg);
	transition: .3s transform ease-in-out;
}

.dropdown.show .active {
	transform: rotate(-180deg);
    transition: .3s transform ease-in-out;
}

// Navbar - Show/hide seach box.
.site-search {
	//display: none;
	//position: absolute;
}

// Accordion - rotate icon on collapse/aria-expanded
.accordion .chevron-down-blue {
  transform: rotate(-180deg);
  transition: .3s transform ease-in-out;
}

.accordion .collapsed .chevron-down-blue {
  transform: rotate(0deg);
  transition: .3s transform ease-in-out;
}

// More options
.more-options .plus-blue {
	transform: rotate(-45deg);
	transition: .3s transform ease-in-out;
}

.more-options .collapsed .plus-blue {
	transform: rotate(0deg);
	transition: .3s transform ease-in-out;
}
