#store {
  .card-deck {
    // Base card deck styles
    .card-header h2 {
      // Position header icon
      &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: 2.5rem 2.5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 2.5rem;
        height: 2.5rem;

        @include media-breakpoint-up(lg) {
          top: 1.25rem;
          left: 1.25rem;
          background-size: 3rem 3rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }

    // Explicitely set header icons
    #goToCard {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("../img/svg/purchase-white.svg");
        }

        // position info icon
        &::after {
          content: "";
          background-image: url("../img/svg/white-circle-info.svg");
          background-repeat: no-repeat;
          background-size: 1.5rem 1.5rem;
          position: absolute;
          top: 1.35rem;
          right: 2.66rem;
          width: 1.5rem;
          height: 1.5rem;

          @include media-breakpoint-up(lg) {
            top: 1.85rem;
            right: 3.22rem;
          }

          @include media-breakpoint-up(xl) {
            top: 1.85rem;
            right: 6.22rem;
          }
        }
      }
    }

    #addValue {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("../img/svg/add-value-white.svg");
        }

        // Pposition info icon
        &::after {
          content: "";
          background-image: url("../img/svg/white-circle-info.svg");
          background-repeat: no-repeat;
          background-size: 1.5rem 1.5rem;
          position: absolute;
          top: 1.35rem;
          right: 2.54rem;
          width: 1.5rem;
          height: 1.5rem;

          @include media-breakpoint-up(lg) {
            top: 1.85rem;
            right: 3.04rem;
          }

          @include media-breakpoint-up(xl) {
            top: 1.85rem;
            right: 5.82rem;
          }
        }
      }
    }

    #visitorPass {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("../img/svg/traveling-white.svg");
          background-size: 42px 32px;
          width: 42px;
          height: 32px;
          top: 1.2rem;

          @include media-breakpoint-up(lg) {
            background-size: 50px 38px;
            width: 50px;
            height: 38px;
            top: 1.55rem;
          }
        }
      }
    }

    #eventTickets {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("../img/svg/event-white.svg");
        }
      }
    }
  }
}
