#store {
  .card-deck {
    // Base card deck styles
    .card-header h2 {
      // Position header icon
      &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: 2.5rem 2.5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 2.5rem;
        height: 2.5rem;

        @include media-breakpoint-up(lg) {
          top: 1.25rem;
          left: 1.25rem;
          background-size: 3rem 3rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }

    // Explicitely set header icons
    #goToCard {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("/template/img/svg/purchase-white.svg");
        }
      }
    }

    #addValue {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("/template/img/svg/add-value-white.svg");
        }
      }
    }

    #visitorPass {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("/template/img/svg/traveling-white.svg");
          background-size: 42px 32px;
          width: 42px;
          height: 32px;
          top: 1.2rem;

          @include media-breakpoint-up(lg) {
            background-size: 50px 38px;
            width: 50px;
            height: 38px;
            top: 1.55rem;
          }
        }
      }
    }

    #eventTickets {
      .card-header h2 {
        &::before {
          content: "";
          background-image: url("/template/img/svg/event-white.svg");
        }
      }
    }
  }
}
