table {
  &#myFareCardList {
    tbody {
      td {
        white-space: nowrap;

        &:nth-of-type(3),
        &:nth-of-type(4) {
          select {
            min-width: 155px !important;

            @include media-breakpoint-up(lg) {
              width: auto;
            }
          }
        }
      }
    }
  }
}
