.utilities {
    @include media-breakpoint-up(xl) {
        margin-left: auto;
        padding-left: 1.25rem;
        border-left: 1px solid $border-color;
    }

    .nav-link {
        .icon {
            @include media-breakpoint-up(md) {
                width: 1.5rem !important;
                height: 1.5rem !important;
            }
        }
    }
}
